mixin hdx-social-media-btn(icon, backgroundColorButton, mediaUrl, mediaTarget)
    a.hdx-social-media-btn(href=`${mediaUrl}` target=`${mediaTarget}` class=`${backgroundColorButton}`)
        img(src=url(`/images/${icon}.svg`))
