extends ../_layouts/main

block prepend head
    - var title = siteDescription

block append head
    meta(property='og:description' content=siteDescription)
    meta(property='og:url' content=rootUrl('/'))
    meta(property='description' content=siteDescription)

block content
    .container-wrapper.basilisk-section
        img.board-info-arrow.left-pink-arrow(src=url('/images/left-pink-arrow.png'))
        .container.px-3.basilisk
            .row.info-box.info-box--shadow.info-box--bold.gx-0
                .col-xl-4
                    .basilisk-logo
                        img(src=url('/images/logo-basilisk.svg'))
                    .basilisk-info
                        h2.headline-2.ff-sans-hl.p-color Basilisk
                        p Basilisk is a complementary product to HydraDX launched on Kusama.
                        ul.listing
                            li.listing__item Supporting the long tail of cryptoassets and experimenting with financial applications and governance
                            li.listing__item Bootstrap token liquidity to life with our improved Liquidity Bootstrapping Pool module.
                    .basilisk-support.text-center
                        h3.fw-normal
                            a.p-color.p-shadow.text-uppercase(href='#') Support Basilisk’s bid to become a parachain
                .col-xl-8
                    .basilisk-learn-more
                        .basilisk-call-to-action
                            h1.headline-1.p-color Basilisk
                            a.btn.btn__lg Learn more
                        .overview-architecture
                            img(src=url('/images/overview-architecture.png'))
block head-extra
    style.
        .basilisk-section {
        position: relative;
        }

        .left-pink-arrow {
            width: 135px;
            height: 270px;
            position: absolute;
            right: 0;
            bottom: -10%;

        }

        @media (max-width: 1366px) {
            .left-pink-arrow {
                display: none;
            }
        }
