extends ../_layouts/main

block prepend head
    - var title = siteDescription

block append head
    meta(property='og:description' content=siteDescription)
    meta(property='og:url' content=rootUrl('/'))
    meta(property='description' content=siteDescription)

block content
    .container-wrapper.join-hydration-section
        img.join-hydration-arrow.right-blue-arrow(src=url('/images/right-blue-arrow.png'))
        img.join-hydration-arrow.left-pink-arrow(src=url('/images/left-pink-arrow.png'))
        .container.px-3.join-hydration.text-center
            img.logo(src=url('/images/logo-blue.svg'))
            h2.headline-2.p-color.text-uppercase Join Hydration
            p Hydration is an active community of builders, thinkers and researchers mentored by our core team. It’s long running Hackathon which you can join or leave at any time.
            img.separator(src=url('/images/separator.png'))
            p Do you have an idea, specific skill you would like to utilize or build your own application on Substrate and integrate it with us?
            img.separator(src=url('/images/separator.png'))
            p If you want to build on top of HydraDX or Basilisk and help us make it the best liquidity platform in the universe, fill out the application form and we’ll be in touch shortly!
            a.btn-application-form.btn.btn__lg Application Form
block head-extra
    style.
        .join-hydration-section {
            position: relative;
        }
        .join-hydration-arrow {
            width: 135px;
            height: 270px;
            position: absolute;
        }

        .right-blue-arrow {
             left: 0;
            opacity: 20%;
            top: 20%;
        }

        .left-pink-arrow {
            right: 0;
            bottom: 0;
        }

        @media (max-width: 1366px) {
            .right-blue-arrow,
            .left-pink-arrow {
                display: none;
            }
        }
