mixin footer
    - var linksSize = footerLinks.length
    - var leftSize = parseInt(linksSize / 2)
    - var leftLinks = footerLinks.slice(0, leftSize)
    - var rightLinks = footerLinks.slice(leftSize)

    footer.footer#footer
        img.footer__shape.d-none.d-sm-flex(src=url('/images/footer-shape.svg'))
        img.footer__shape.d-sm-none(src=url('/images/footer-shape-mobile.svg'))
        .footer__inner.d-none.d-xl-flex
            ul.footer__menu.footer__menu-left
                each link in leftLinks
                    a.footer__menu-item.btn.btn__sm(href=link.url target=link.target)=link.text
            img.footer__logo(src=url('/images/logo-blue.svg'))
            ul.footer__menu.footer__menu-right
                each link in rightLinks
                    a.footer__menu-item.btn.btn__sm(href=link.url target=link.target)=link.text
        .footer__inner-mobile.d-xl-none
            img.footer__logo(src=url('/images/logo-blue.svg'))
            ul.footer__menu
                each link in footerLinks
                    a.footer__menu-item.btn.btn__sm(href=link.url target=link.target)=link.text



