mixin header
    - var active = (name) => templateName === name ? 'active' : ''
    - var labelActive = (nameArr, name) => nameArr.includes(templateName) || templateName === name ? 'label-active' : ''
    - var childrenActive = (name) => templateName === name ? 'children-active' : ''
    - var extractTemplateName = (url) => {if (url === '/') return 'index'; return url ? url.replace('/', '').replace('.html', '') : ''};
    .hdx-top-header-contribute#contributeEl
        .hdx-top-header-contribute__text The HydraDX Crowdloan is live.
        a.btn.btn__sm.contribute-button(href="https://loan.hydradx.io/" target="_blank") Contribute now
    header.header.header-desktop.d-xl-flex
        a.header__logo(href=url('/'))
            img(src=url('/images/logo-pink-darkblue.svg'))
        ul.header__menu
            each item in header.menu
                li.menu-item(class=`${item.text}-selector`)
                    .menu-item-btn
                        if item.dropdown
                            .label-dropdown-item(class=labelActive(item.childrenArr, extractTemplateName(item.url)))=__(item.text)
                            +hdx-img-icon('pink-arrow-down', `menu-item__arrow-down ${labelActive(item.childrenArr, extractTemplateName(item.url))}`)
                            ul.dropout-menu(class=`${item.text}-menu`)
                                each childItem in item.dropdownItem
                                    a.dropout-menu-link(href=url(childItem.url) class=childrenActive(extractTemplateName(childItem.url)) target='')
                                        li.dropout-menu-item=childItem.text
                        else
                            a(href=url(item.url, locale) class=active(extractTemplateName(item.url)) target=item.target)=__(item.text)
        .header-social-media-container
            .header-social-media-wrapper
                .header-social-media-text Get in touch
                .header-social-media-list
                    each network in header.socialNetwork
                        +hdx-social-media-btn(network.name, network.color, network.url, network.target)

    header.header-mobile.d-xl-none
        div.header-mobile__hamberger(role='button')
            div.header-mobile__hamberger-meat
        div.header-mobile__main
            a.header-mobile__logo(href=url('/', locale))
                img(src=url('/images/logo-hydradx-mobile.png'))

